{% extends 'base.html' %}

{% block title %}Καταναλωτής{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron pt-5 pb-5">
            <h3><i class="fas fa-utensils mr-2"></i>Καταναλωτής</h3>
            <hr class="mb-4">
            <li class="media">
                <img src="{{ current_user.picture }}" alt="" class="mr-3">
                <div class="media-body">
                    <h5 class="mt-0 mb-3">{{ current_user.name }}</h5>
                    <div class="d-inline-flex font-weight-bold">
                        <div class="mr-4"><i class="fas fa-star mr-1"></i>234 σκορ αξιοπιστίας</div>
                        <div class="mr-4"><i class="fas fa-phone mr-1"></i>2103844423</div>
                        <div><i class="fas fa-city mr-1"></i>Αθήνα</div>
                    </div>
                </div>
            </li>
            <div class="alert alert-success d-flex align-items-baseline m-0 mt-5" role="alert">
                <div>
                    <i class="fas fa-star mr-2"></i>Κερδίσατε <strong>+5 σκορ αξιοπιστίας</strong> για την ολοκλήρωση
                    της παραγγελίας.
                </div>
            </div>
        </div>
        <div class="jumbotron pt-5 pb-5">
            <h5><i class="fas fa-business-time mr-2"></i>Οι παραγγελίες μου</h5>
            <hr class="mb-4">

            <table class="table table-striped">
                <thead class="bg-primary text-white">
                <tr>
                    <th scope="col">Ημερομηνία</th>
                    <th scope="col">Αναλυτική Παραγγελία</th>
                    <th scope="col">Συνολικά Κιλά</th>
                    <th scope="col">Επιπλέον Χρεώσεις</th>
                    <th>Συνολικό Κόστος</th>
                    <th>Κατάσταση Παραγγελίας</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">04/06/2019</th>
                    <td>Σφυρίδα, Στήρα, Πεσκανδρίτσα</td>
                    <td>10kg</td>
                    <td>Καθάρισμα(+ 2&euro;)</td>
                    <td>130&euro;</td>
                    <td class="text-primary">Εκρεμεί...</td>
                </tr>
                <tr>
                    <th scope="row">04/04/2019</th>
                    <td>Συναγρίδα, Ροφός</td>
                    <td>10kg</td>
                    <td>Καθάρισμα(+ 2&euro;)</td>
                    <td>130&euro;</td>
                    <td class="text-success">Ολοκληρώθηκε</td>
                </tr>
                <tr>
                    <th scope="row">03/28/2019</th>
                    <td>Τσιπούρα, Συκιός, Σαργός</td>
                    <td>10kg</td>
                    <td>Καθάρισμα(+ 2&euro;)</td>
                    <td>130&euro;</td>
                    <td class="text-success">Ολοκληρώθηκε</td>
                </tr>
                <tr>
                    <th scope="row">03/28/2019</th>
                    <td>Τσιπούρα, Συκιός, Σαργός</td>
                    <td>10kg</td>
                    <td>Καθάρισμα(+ 2&euro;)</td>
                    <td>130&euro;</td>
                    <td class="text-success">Ολοκληρώθηκε</td>
                </tr>
                <tr>
                    <th scope="row">03/28/2019</th>
                    <td>Τσιπούρα, Συκιός, Σαργός</td>
                    <td>10kg</td>
                    <td>Καθάρισμα(+ 2&euro;)</td>
                    <td>130&euro;</td>
                    <td class="text-success">Ολοκληρώθηκε</td>
                </tr>
                <tr>
                    <th scope="row">03/28/2019</th>
                    <td>Τσιπούρα, Συκιός, Σαργός</td>
                    <td>10kg</td>
                    <td>Καθάρισμα(+ 2&euro;)</td>
                    <td>130&euro;</td>
                    <td class="text-success">Ολοκληρώθηκε</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
