{% macro navbar() %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{{ url_for('home.index') }}">psaraki.gr</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('home.index') }}">Αρχική <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Εξερεύνηση</a>
                </li>
            </ul>
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fab fa-facebook mr-2"></i>Σύνδεση με Facebook</button>
        </div>
    </nav>
{% endmacro %}
