{% extends 'base.html' %}

{% block title %}Εγγραφή Ψαρά{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <div class="text-center mb-5">
                <h4>Ψάχνω <strong>Τσιπούρα</strong> από την <strong>Αττική</strong> στο <strong>Δήμο Αθηναίων</strong>...
                </h4>
                <h4 class="">Θέλω <strong>3 κιλά</strong> και να είναι <strong>καθαρισμένα</strong></h4>
            </div>
            <div class="d-flex align-items-baseline">
                <h4 class="m-0">Αναζήτηση</h4>
                <p class="ml-auto m-0"><strong>2 αλιείς</strong> μπορούν να σας εξυπηρετήσουν</p>
            </div>
            <hr class="mb-5">
        </div>
    </div>
{% endblock %}