{% extends 'base.html' %}

{% block title %}Αναζήτηση{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <div class="text-center mb-5">
                <h4>Ψάχνω <strong>Τσιπούρα</strong> από την <strong>Αττική</strong> στο <strong>Δήμο Αθηναίων</strong>...
                </h4>
                <h4 class="">Θέλω <strong>3 κιλά</strong> και να είναι <strong>καθαρισμένα</strong></h4>
            </div>
            <div class="d-flex align-items-baseline">
                <h4 class="m-0">Αναζήτηση</h4>
                <p class="ml-auto m-0"><strong>2 αλιείς</strong> μπορούν να σας εξυπηρετήσουν</p>
            </div>
            <hr class="mb-5">
            <ul class="list-unstyled">
                <li class="media">
                    <i class="fas fa-user-lock fa-3x mr-3 text-primary"></i>
                    <div class="media-body">
                        <h5 class="mt-0 mb-3">Γιάννης Παπαγεωργίου</h5>
                        <div class="d-inline-flex font-weight-bold mb-4">
                            <div class="mr-4"><i class="fas fa-star mr-1"></i>192 σκορ ποιότητας</div>
                            <div class="mr-4"><i class="fas fa-phone mr-1"></i>2103844423</div>
                            <div class="mr-4"><i class="fab fa-facebook-messenger mr-1"></i>Επικοινωνία στο Messenger</div>
                            <div class="mr-4"><i class="fas fa-map-signs mr-1"></i>Αττική</div>
                            <div><i class="fas fa-city mr-1"></i>Ηλιούπολη</div>
                        </div>
                        <p class="mb-0">Τσιπούρα</p>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 47%">47%</div>
                        </div>
                        <p class="mb-0">Λούτσος</p>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 32%">32%</div>
                        </div>
                        <p class="mb-0">Γόπα</p>
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 39%">39%</div>
                        </div>
                        <div class="d-flex align-items-baseline">
                            <div class="mt-4">Εξυπηρέτησε <strong>38 παραγγελίες</strong> παρόμοιες με τη δική σας.</div>
                            <a href="#" class="btn btn-success ml-auto">
                                <i class="fas fa-business-time mr-2"></i>Παραγγελία
                            </a>
                        </div>
                    </div>
                </li>
                <hr class="mb-5 mt-5">
                <li class="media">
                    <i class="fas fa-user-lock fa-3x mr-3 text-primary"></i>
                    <div class="media-body">
                        <h5 class="mt-0 mb-3">Κώστας Αναστασόπουλος</h5>
                        <div class="d-inline-flex font-weight-bold mb-4">
                            <div class="mr-4"><i class="fas fa-star mr-1"></i>112 σκορ ποιότητας</div>
                            <div class="mr-4"><i class="fas fa-phone mr-1"></i>2103844423</div>
                            <div class="mr-4"><i class="fab fa-facebook-messenger mr-1"></i>Επικοινωνία στο Messenger</div>
                            <div class="mr-4"><i class="fas fa-map-signs mr-1"></i>Αττική</div>
                            <div><i class="fas fa-city mr-1"></i>Περιστέρι</div>
                        </div>
                        <p class="mb-0">Τσιπούρα</p>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 38%">38%</div>
                        </div>
                        <p class="mb-0">Μουρμούρα</p>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 62%">62%</div>
                        </div>
                        <p class="mb-0">Αθερίνα</p>
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 31%">31%</div>
                        </div>
                        <div class="d-flex align-items-baseline">
                            <div class="mt-4">Εξυπηρέτησε <strong>16 παραγγελίες</strong> παρόμοιες με τη δική σας.</div>
                            <a href="#" class="btn btn-success ml-auto">
                                <i class="fas fa-business-time mr-2"></i>Παραγγελία
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
